body {
	background-image: url(https://media.giphy.com/media/6xE1FNcorRInS/giphy.gif);
  background-size: 75%;
}

h1 {
	font-family: 'Liu Jian Mao Cao', cursive;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 6px lightgrey;
}

button {
	font-family: 'Crimson Text', serif;
}

.header {
	border: 3px solid black;
	background-image: url(https://sophosnews.files.wordpress.com/2019/01/shutterstock_1057333226.jpg);
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 28px;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

a.red:hover {
	background-color: red;
	color: white;
}
a.blue:hover {
	background-color: blue;
	color: white;
}
a.black:hover {
	background-color: black;
	color: white;
}

.dropdown:hover 

.dropdown-content {display: block;}

.dropdown:hover 

.dropbtn:hover {
	background-color: green;
}

.block1 {
    width: 200%;
    height: 200%;
    border:6px solid;
    border-color:green;
    background-color: black;
    color: white;
}

.block2 {
    width: 200%;
    height: 200%;
    border:6px solid;
    border-color:red;
    background-color: black;
    color: white;
}

.block3 {
    width: 200%;
    height: 200%;
    border:6px solid;
    border-color:blue;
    background-color: black;
    color: white;
}

.g-block-1 {
    animation-duration: 6s;
    animation-name: bounceIn;
    display: block;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    }

    @keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}